 
<div style="text-align: center;">
  <div style="font-size: 18px; font-weight: bold;">
    <div style="background-color: #e6f7ff; padding: 20px; margin-bottom: 20px; border-radius: 10px;">
      <h1 style="color: #1890ff;">法人化した場合の税額影響</h1>
        <table style="margin: 0 auto;">
    	    <thead>
    	      <tr>
    		      <th style="width: 15%;"></th>	
    			    <th style="width: 25%; text-align: right; white-space: nowrap;">法人化前</th>
    			    <th style="width: 25%; text-align: right; white-space: nowrap;">法人化後</th>
    			    <th style="width: 25%; text-align: right; white-space: nowrap;">差額</th>
    		    </tr>
    		  </thead>
    
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
                      <th class="center" style="white-space: nowrap;">所得税（復興所得税含む）</th>
                      <td style="text-align: right;"><%= @result_income.to_s(:delimited) %></td>
                      <td style="text-align: right;"><%= @result_income_after.to_s(:delimited) %></td>
                      <td></td>
                    </tr>
    			 </tbody>
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
    			 	 <th class="center" style="white-space: nowrap;">個人住民税</th>
                      <td style="text-align: right;"><%= @result_individual_resident.to_s(:delimited) %></td>
                      <td style="text-align: right;"><%= @result_individual_resident_after.to_s(:delimited) %></td>
                      <td></td>
    			 	</tr>
    			 </tbody>
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
    			 	  <th class="center" style="white-space: nowrap;">個人事業税</th>
                      <td style="text-align: right;"><%= @result_individual_business.to_s(:delimited) %></td>
                      <td style="text-align: right;"><%= @result_individual_business_after.to_s(:delimited) %></td>
                      <td></td>
    			 	</tr>
    			 </tbody>
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
    			 	 <th class="center" style="white-space: nowrap;">法人税（地方法人税含む）</th>
                      <td style="text-align: right;">0</td>
                      <td style="text-align: right;"><%= @result_houjinzei.to_s(:delimited) %></td>
                      <td></td>
    			 	</tr>
    			 </tbody>
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
    			 	  <th class="center" style="white-space: nowrap;">住民税(均等割除く）</th>
                      <td style="text-align: right;">0</td>
                      <td style="text-align: right;"><%= @result_resident.to_s(:delimited) %></td>
                      <td></td>
    			 	</tr>
    			 </tbody>
    			 <tbody>
    			 	<tr style="border-bottom: 1px solid #f0f0f0;">
    			 	 <th class="center" style="white-space: nowrap;">事業税(所得割）</th>
                      <td style="text-align: right;">0</td>
                      <td style="text-align: right;"><%= @business_tax_sum.to_s(:delimited) %></td>
                      <td></td>
    			 	</tr>
                 </tbody>
    			 <tbody>
                 </tbody>
    			 	 <tr style="border-bottom: 1px solid #f0f0f0;">
                      <th class="center" style="white-space: nowrap;">合計</th>
                      <td style="text-align: right;"><%= (@result_income + @result_individual_resident + @result_individual_business).to_s(:delimited) %></td>
                      <% total_result = (@result_income + @result_individual_resident + @result_individual_business) %>
                      <td style="text-align: right;"><%= (@result_houjinzei + @result_resident + @business_tax_sum + @local_corporate_tax + @result_income_after + @result_individual_resident_after + @result_individual_business_after).to_s(:delimited) %></td>
                      <% total_result = (@result_houjinzei + @result_resident + @business_tax_sum + @local_corporate_tax + @result_income_after + @result_individual_resident_after + @result_individual_business_after) %>
                      <td></td>
                    </tr>
    			 </tbody>
	      </table>
	      </br>
   </div>
  </div>
</div>



