<div class="row">
  <div class="card">
    <div class="card-content">
      <div class="card-title center">不動産法人化のシミュレーション</div>
      <div class="right">※ 値はすべて<span style="font-weight: bold;">半角数字</span>で入力してください。</div>
      <%= form_tag(simulations_incorporation_result_tax_path, method: :get, remote: true) do %>
        <table>
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr style="border-bottom: 3px solid #f0f0f0;">
              <td style="width: 45%;">個人課税所得額（所得控除前の不動産所得）</td>
              <td>
                <%= text_field_tag :taxableincome, "", class: "col s9 m7 l5", style: "text-align: right; margin-right: 25px; font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                <div style="margin-top: 20px;">万円</div>
              </td>
            </tr>

            <tr style="border-bottom: 1px solid #f0f0f0;">
              <td>青色申告特別控除額</td>
              <td>
                <%= select_tag :blue_return, options_for_select([["選択して下さい", "0"], ["白色申告", "0"],["10 万円", "10"], ["65 万円", "65"]]), class: "browser-default col s10 m7 l5", id: "blue_return", style: "color: rgba(0,0,0,0.7)"; %>
              </td>
            </tr>

            <tr>
              <td rowspan="4">所得控除合計</td>
            </tr>
            <tr>
              <td>
                <%= text_field_tag :total_income_deduction, "48", class: "col s9 m7 l5", id: "total_income_deduction", style: "text-align: right; margin-right: 15px; font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                <div style="margin-top: 10px;">万円</div>
              </td>
            </tr>
            <tr>
              <td>
                <div>基礎控除</div>
                <%= text_field_tag :basic_deduction, "48", disabled: "disabled", class: "col s9 m7 l5", id: "basic_deduction", style: "text-align: right; margin-right: 15px; font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                <div style="margin-top: 10px;">万円</div>
              </td>
            </tr>
            <tr>
              <td>
                <div style="font-size: 13px;">
                  基礎控除以外の所得控除金額を入力してください。</br>
                  ※ 簡易シミュレーションのため、上限額チェックなどは行っていません。</br>
                  あくまでも目安としてご利用ください。
                </div>
                <ul class="collapsible col s12 m9 l6">
                  <li>
                    <div class="collapsible-header">
                      内訳入力
                    </div>
                    <div class="collapsible-body">
                      <div class="right" style="color: rgb(158, 158, 158); font-size: 12px;">( 万円 )</div>
                      <div id="detail">
                        <div class="input-field">
                          <%= text_field_tag :breakdown1, "", class: "breakdown", id: "breakdown1", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "雑損控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown2, "", class: "breakdown", id: "breakdown2", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "医療費控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown3, "", class: "breakdown", id: "breakdown3", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "社会保険料控除" %>
                        </div>
                        <div class="input-fieldc">
                          <%= text_field_tag :breakdown4, "", class: "breakdown", id: "breakdown4", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag nil, "小規模企業共済等掛金控除", style: "white-space: nowrap; font-size: 12.5px;" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown5, "", class: "breakdown", id: "breakdown5", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "生命保険料控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown6, "", class: "breakdown", id: "breakdown6", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "地震保険料控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown7, "", class: "breakdown", id: "breakdown7", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "寄附金控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown8, "", class: "breakdown", id: "breakdown8", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "寡婦、寡夫控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown9, "", class: "breakdown", id: "breakdown9", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "勤労学生、障害者" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown10, "", class: "breakdown", id: "breakdown10", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "配偶者控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown11, "", class: "breakdown", id: "breakdown11", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "配偶者特別控除" %>
                        </div>
                        <div class="input-field">
                          <%= text_field_tag :breakdown12, "", class: "breakdown", id: "breakdown12", style: "text-align: right; font-size: 20px;", pattern: "^[0-9]+$" %>
                          <%= label_tag "扶養控除" %>
                        </div>
                        <!-- <%= submit_tag "リセット", type: "reset", class: "btn-large", id: "reset_btn" %> -->
                        <div class="btn-large" id="reset_btn" style="white-space: nowrap;">リセット</div>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
            <tr style="border-bottom: 3px solid #f0f0f0;">
              <td style="width: 45%;">法人化による個人所得の法人移転額(役員報酬控除前の法人の課税所得）</td>
              <td>
                <%= text_field_tag :transferincome, "", class: "col s9 m7 l5", style: "text-align: right; margin-right: 25px; font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                <div style="margin-top: 20px;">万円</div>
              </td>
            </tr>
            <tr>
              <td style="width: 45%;">法人からの役員報酬額(月額報酬×１２ヶ月）</td>
              <td>
                <%= text_field_tag :salary, "", class: "col s9 m7 l5", style: "text-align: right; margin-right: 25px; font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                <div style="margin-top: 20px;">万円/月×１２ヶ月</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="center">
          <%= submit_tag "計算する", class: "btn-large", id: "btn_incometax_corporate" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="result_inccorporation">
</div>
<%= javascript_include_tag "#{controller.controller_path}/#{controller.action_name}", 'data-turbolinks-track': 'reload' %>

