<style>
    .content-main {
        margin: 4rem auto 2rem;
        padding: 2.5rem;
        max-width: 800px;
    }

    .content-title {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #005cbf;
    }

    .form-table {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .form-control {
        border: 2px solid #005cbf;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #005cbf;
        border-color: #005cbf;
    }
</style>

<div class="page-simulation-succession_gift-index">
    <div class="top-image-size"></div>
    <div class="content-main">
        <div class="text-center">
            <h2 class="content-title">贈与による相続税への影響</h2>
            <p class="text-right">*値は全て<span style="font-weight: bold;">半角英数</span>入力してください</p>
            <%= form_tag(simulations_succession_gift_result_tax_path, method: :get, remote: true) do %>
            <table class="form-table">
           	<tbody>
  	      	  <thead>
                <tr>
                  <td>現在の遺産総額</td>
                    <td class="row">
                	<%= text_field_tag :total_heritage, "", class: "form-control col-8", style: "text-align right; padding-right:15px;", pattern: "^[0-9]+$",required: "" %>
                	  <div class="col-3 d-flex align-items-center">万円</div>
                    </td>
                </tr>

                <tr>
                	<td class="align-middle">相続人</td>
                      <td class="row">
                  	  <div class="mt-2 md-checkbox align-middle">
                  	    <%= check_box_tag :select_succession_mate, "0", false, class: "filled-in" %>
                  	    <%= label_tag :select_succession_mate, "配偶者", style: "color: rgba(0,0,0,0,7);" %>
                  	  </div>
                      </td>

                     <td class="row">
                     <div class="md-radio mt-2 mr-2 text-left">
                      <%= check_box_tag :select_succession_children, "0", false, class: "pt-3 pb-3" %>
                      <%= label_tag :select_succession_children, "子供", style: "color: rgba(0,0,0,0.7);" %>
                     </div>
                     <div class="ml-3 custom-control-inline">
                      <%= select_tag :count_heir_children, options_for_select([["選択して下さい", "0"], ["1 人", "1"], ["2 人", "2"], ["3 人", "3"], ["4 人", "4"], ["5 人", "5"]]), class: "form-control", style: "color: rgba(0,0,0,0.7);" %>
                     </div>
                   </td>
                </tr>

                <tr>
                  <td class="align-middle">贈与する相手</td>
                    <td class="row">
                  	  <div class="md-radio mt-2 text-left">
                  		<%= check_box_tag :select_gift_mate, "0", false, class: "filled-in" %>
                  		<%= label_tag :select_gift_mate, "配偶者", style: "color: rgba(0,0,0,0,7);" %>
                  	  </div>
                    </td>

                    <td class="row">
                    <div class="md-radio mt-2 text-left">
                    <%= check_box_tag :check_over_20,"0",false, class: "pt-3 pb-3" %>
                	<%= label_tag :check_over_20, "子供（20歳以上）", style: "color: rgba(0,0,0,0,7);" %>
                	</div>
                	<div class="custom-control-inline">
                    <%= select_tag :count_over_20 ,options_for_select([["選択して下さい","0"], ["1人", "1"],["2人", "2"],["3人", "3"],["4人", "4"],["5人", "5"]]), class: "form-control", style:"color:rgba(0,0,0,0,7);" %>
                    </div>
                  </td>
             
                  <td class="row">
                    <div class="md-radio mt-2 mr-3 text-left">
                    <%= check_box_tag :others,"0",false, class: "filled-in" %>
                	<%= label_tag :others, "上記以外", style: "color: rgba(0,0,0,0.7);" %>
                	</div>
                	<div class="custom-control-inline">
                      <%= select_tag :count_others ,options_for_select([["選択して下さい","0"], ["1人", "1"],["2人", "2"],["3人", "3"],["4人", "4"],["5人", "5"]]), class: "form-control", style:"rgba(0,0,0,0,7);" %>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>一人あたりの贈与金額</td>

                    <td class="row">
                    <%= text_field_tag :one_person_gift, "", class: "form-control col-8", style: "text-align: right; margin-right: 15px;font-size: 20px;", pattern: "^[0-9]+$", required: "" %>
                    <div class="col-3 d-flex align-items-center">万円</div>	</td>
                </tr>

                <tr>
                  <td>上記金額を生前贈与する年数</td>
                    <td class="row">
                    <%= text_field_tag :years, "", class: "form-control col-8", style: "text-align right; margin-right:15px;", pattern: "^[0-9]+$",required: "" %>
                  	<div class="col-3 d-flex align-items-center">年間</div>
                    </td>
                </tr>
              </thead>
  	      	</tbody>
            </table>
            <div class="text-center">
                <%= submit_tag "計算する", class: "my-3 py-3 btn btn-primary", id: "button" %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="text-center">
        <div class="mt-5 mb-5">
            <div id="result_succession_gift"></div>
        </div>
    </div>
</div>


